.profileAction {
  a {
    padding: 10px;
    cursor: pointer;
  }
}

.profileContainer {
  .profileImageContainer {
    display: inline-block;
    width: 30%;
    background-color: white;
    text-align: center;
    padding: 20px;
    vertical-align: top;
    height: 200px;
    img {
      max-width: 100px;
      padding: 10px;
      
    }
  }
  .profileDetailsContainer {
    display: inline-block;
    width: 70%;
    background-color: white;
    height: 200px;
  }
  .profileActions {
    div {
      color: red;
    }
    div:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 768px) {
  .profileContainer {
    .profileImageContainer {
      width: 100%;
      height: 100px;
    }
    .profileDetailsContainer {
      width: 100%;
      text-align: center;
    }
  }

}